set timeout=3
set default=0

# Request graphical framebuffer from GRUB
set gfxmode=1024x768x32
set gfxpayload=keep

menuentry "FajarOS Nova v3.0 (Desktop)" {
    multiboot2 /boot/fajaros.elf
    boot
}

menuentry "FajarOS Nova v3.0 (Serial Console)" {
    set gfxpayload=text
    multiboot2 /boot/fajaros.elf console=serial
    boot
}

menuentry "FajarOS Nova v3.0 (Text Mode)" {
    set gfxpayload=text
    multiboot2 /boot/fajaros.elf
    boot
}
