set timeout=3
set default=0

menuentry "FajarOS Nova (x86_64)" {
    multiboot2 /boot/fajaros.elf
    boot
}

menuentry "FajarOS Nova (serial console)" {
    multiboot2 /boot/fajaros.elf console=serial
    boot
}
